
common:
	parameters:
		users:
			admin: adminovoheslo

		database:
			database: zbycz_casopisy
			username: zbycz
			password: dtbheslo

		filesSecret: 11111111111111111111111

production < common:
development < common:
