{var robots => noindex}
{block #title}Přihlášení{/block}
{block #content}

<h1>Přihlásit se</h1>

<p class="alert alert-danger">
	<strong>POZOR:</strong> Toto není SkautIS přihlášení - nepište sem svoje údaje
	<small>(Přihlášení přes SkautIS vpravo nahoře)</small>
</p>

{control loginForm}
{* <a href="{link Login:lostPass}">Zapomněli jste heslo?</a> *}


